VITE_SUPABASE_URL=https://mlpkkywvncojmkvnygmr.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1scGtreXd2bmNvam1rdm55Z21yIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjExNjA3NDYsImV4cCI6MjA3NjczNjc0Nn0.tS6nu4Kf1GuDaAgQbXDG2MhniiHF64FD846Cmh2s1Hg